@(job: net.mtgto.carpenter.domain.Job)(implicit request: RequestHeader, lang: Lang, flash: Flash)

@headers = {
  @javascriptRouter("jsRoutes")(
    net.mtgto.carpenter.controllers.routes.javascript.JobController.log
  )
  <script>
    var jobId = '@job.identity.uuid.toString';
    var successMessage = '@Messages("views.projects.job.success")';
    var failureMessage = '@Messages("views.projects.job.failure")';
  </script>
}
@footers = {
<script>
  var con = new WebSocket(jsRoutes.net.mtgto.carpenter.controllers.JobController.log(jobId).webSocketURL());
  con.onopen = function() {
    console.log('WebSocket Open');
  };
  con.onclose = function() {
    console.log('WebSocket Close');
  };
  con.onerror = function (error) {
    console.log('WebSocket Error ' + error);
  };
  con.onmessage = function (e) {
    console.log('WebSocket message ' + e.data);
    var json = JSON.parse(e.data);
    $('code#log').html(json['log']);
    if (!json['running']) {
      if (json['success']) {
        $('#status').removeClass('label-warning').addClass('label-success').text(successMessage);
      } else {
        $('#status').removeClass('label-warning').addClass('label-important').text(failureMessage);
      }
    }
  }
</script>
}
@main(Messages("views.jobs.header"), headers, footers) {
    <section>
        <h2>@Messages("views.jobs.header")</h2>
    </section>
    <section>
        <h3>@Messages("views.jobs.header.project")</h3>
        <a href="@net.mtgto.carpenter.controllers.routes.ProjectController.showProjectView(job.project.identity.uuid.toString)">@job.project.name</a>
        <h3>@Messages("views.header.user")</h3>
        @tags.user(job.user)
        <h3>@Messages("views.jobs.header.task")</h3>
        @job.taskName
        <h3>@Messages("views.header.snapshot")</h3>
        @tags.snapshot(job.snapshot)
        <h3>@Messages("views.header.result")</h3>
        @if(job.isRunning){
          <span id="status" class="label label-warning">@Messages("views.projects.job.running")</span>
        }else{
          @if(job.isSuccess){
            <span id="status" class="label label-success">@Messages("views.projects.job.success")</span>
          }else{
            <span id="status" class="label label-important">@Messages("views.projects.job.failure")</span>
          }
        }
        <h3>@Messages("views.header.duration")</h3>
        @job.executeDuration.map(tags.duration(_))
        <h3>@Messages("views.header.date")</h3>
        @tags.timepoint(job.executeTimePoint)
        <h3>@Messages("views.projects.index.log")</h3>
        <pre><code id="log">@job.log</code></pre>
    </section>
    <a class="btn btn-large" href="@net.mtgto.carpenter.controllers.routes.ProjectController.showProjectView(job.project.identity.uuid.toString)">@Messages("views.back")</a>
}
