@(job: net.mtgto.carpenter.domain.Job)(implicit request: RequestHeader, lang: Lang, flash: Flash)

@headers = {
  @javascriptRouter("jsRoutes")(
    net.mtgto.carpenter.controllers.routes.javascript.JobController.log
  )
  <script>
    var jobId = '@job.identity.uuid.toString';
  </script>
}
@footers = {
<script>
  var con = new WebSocket(jsRoutes.net.mtgto.carpenter.controllers.JobController.log(jobId).webSocketURL());
  con.onopen = function() {
    console.log('WebSocket Open');
  };
  con.onclose = function() {
    console.log('WebSocket Close');
  };
  con.onerror = function (error) {
    console.log('WebSocket Error ' + error);
  };
  con.onmessage = function (e) {
    //console.log('WebSocket message ' + e.data);
    $('code#log').html(JSON.parse(e.data)['log']);
  }
</script>
}
@main(Messages("views.jobs.header"), headers, footers) {
    <section>
        <h2>@Messages("views.jobs.header")</h2>
    </section>
    <section>
        <h3>@Messages("views.jobs.header.project")</h3>
        <a href="@net.mtgto.carpenter.controllers.routes.ProjectController.showProjectView(job.project.identity.uuid.toString)">@job.project.name</a>
        <h3>@Messages("views.header.user")</h3>
        @tags.user(job.user)
        <h3>@Messages("views.jobs.header.task")</h3>
        @job.taskName
        <h3>@Messages("views.header.result")</h3>
            @if(job.isSuccess){
              <span class="label label-success">@Messages("views.projects.job.success")</span>
            }else{
              <span class="label label-important">@Messages("views.projects.job.failure")</span>
            }
        <h3>@Messages("views.header.duration")</h3>
        @job.executeDuration
        <h3>@Messages("views.header.date")</h3>
        @tags.timepoint(job.executeTimePoint)
        <h3>@Messages("views.projects.index.log")</h3>
        <pre><code id="log">@job.log</code></pre>
    </section>
    <a class="btn btn-large" href="@net.mtgto.carpenter.controllers.routes.ProjectController.showProjectView(job.project.identity.uuid.toString)">@Messages("views.back")</a>
}
