@(id: String, editForm: Form[(String, String, String)])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@headers = {}
@footers = {}
@main("Edit Project", headers, footers) {
  <h2>Edit Project</h2>
  @helper.form(action = net.mtgto.controllers.routes.ProjectController.edit(id), 'class -> "form-horizontal") {
    @inputText(editForm("name"), '_label -> "Project name", 'placeholder -> "Project name")
    @inputText(editForm("hostname"), '_label -> "Hostname", 'placeholder -> "Hostname")
    @textarea(editForm("recipe"), '_label -> "Recipe", 'placeholder -> "Recipe", 'rows -> 10)
    <a class="btn btn-large" href="@net.mtgto.controllers.routes.Application.index">Back</a>
    <button class="btn btn-large btn-primary" type="submit">Submit</button>
  }
}
