@(id: String, editForm: Form[(String, String, String)])(implicit lang: Lang, flash: Flash)

@headers = {}
@footers = {}
@main(Messages("views.projects.edit.header"), headers, footers) {
  <h2>@Messages("views.projects.edit.header")</h2>
  @helper.form(action = net.mtgto.controllers.routes.ProjectController.edit(id), 'class -> "form-horizontal") {
    @inputText(editForm("name"), '_label -> Messages("views.projects.project_name"), 'placeholder -> Messages("views.projects.project_name"), 'class -> "span9")
    @inputText(editForm("hostname"), '_label -> Messages("views.projects.hostname"), 'placeholder -> Messages("views.projects.hostname"), 'class -> "span9")
    @textarea(editForm("recipe"), '_label -> Messages("views.projects.recipe"), 'placeholder -> Messages("views.projects.recipe"), 'rows -> 10, 'class -> "span9")
    <a class="btn btn-large" href="@net.mtgto.controllers.routes.Application.index">@Messages("views.back")</a>
    <button class="btn btn-large btn-primary" type="submit">@Messages("views.submit")</button>
  }
}
