@(project: net.mtgto.carpenter.domain.Project,
  taskName: String,
  parents: Map[String, Seq[net.mtgto.carpenter.domain.vcs.SubversionPath]],
  children: Seq[net.mtgto.carpenter.domain.vcs.SubversionPath]
)(implicit requestHeader: RequestHeader, lang: Lang, flash: Flash)

@headers = {
@javascriptRouter("jsRoutes")(
  net.mtgto.carpenter.controllers.routes.javascript.ProjectController.executeTask
)
<script>
var projectId = '@project.identity.value.uuid.toString';
var taskName = '@taskName';
</script>
}
@footers = {
<script>
    $('input[name="branchType"]:radio').change(function() {
      $("select").val(0); // remove selection from all select boxes.
    });
</script>
}
@main(Messages("views.projects.execute.header"), headers, footers) {
  <section>
    <h2>@Messages("views.projects.execute.header")</h2>
    Project: @project.name
    Task： @taskName
  </section>
  <section>
    <h3>@Messages("views.projects.execute.choose_branch_tag")</h3>
    @helper.form(action = net.mtgto.carpenter.controllers.routes.ProjectController.executeTask(project.identity.value.uuid.toString, taskName), 'class -> "form-horizontal") {
    @for(parent <- parents){
      <label class="radio">
        <input type="radio" name="branchType" id="@parent._1" value="parent"/>
        @Messages("views.projects.execute.choose_subversion_branch", parent._1)
      </label>
      <select id="branch-names" name="branchName">
      @for(branch <- parent._2){
        <option>@branch.name</option>
      }
      </select>
    }
    @for(child <- children){
      <label class="radio">
        <input type="radio" name="branchType" id="@child.name" value="@child.name"/>
        @Messages("views.projects.execute.choose_subversion_child", child.name)
      </label>
    }
    <section>
      <h3>IRC notification</h3>
        TODO
    </section>
    <a class="btn btn-large" href="@net.mtgto.carpenter.controllers.routes.ProjectController.showProjectView(project.identity.value.uuid.toString)">@Messages("views.back")</a>
    <button class="btn-large btn-primary run_task" type="submit">@Messages("views.projects.run")</button>
  </section>
  }
}
