@(project: net.mtgto.domain.Project)(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@headers = {}
@footers = {
<script>
  $.get('@net.mtgto.controllers.routes.ProjectController.tasks(project.identity.value.toString)', function(data) {
    var status = data['status']
    console.log("tasks.status: " + status)
    if (status == 'ok') {
      var select = $("#task-select")
      select.children().remove()
      var tasks = data['tasks']
      for (var i=0; i<tasks.length; i++) {
        select.append($("<option>").html(tasks[i]['name']))
      }
    }  
  });
  $(function(){
    var runLink = $('a.run_task');
    runLink.click(
      function(){
        runLink.addClass("disabled");
        var taskName = $('#task-select option:selected').val()
        console.log("taskName = " + taskName)
        $.post('@net.mtgto.controllers.routes.ProjectController.executeTask(project.identity.value.toString)', {name: taskName}, function(data) {
          log = data['log'];
          exitCode = data['exitCode'];
          console.log("exitCode = " + exitCode);
          $('#log').val(log);
          runLink.removeClass("disabled");
        });
      }
    );
  });
</script>
}
@main(s"Project ${project.name}", headers, footers) {
  <section>
    <h2>Project</h2>
    @project.name</h3>
  </section>
  <section>
    <h2>Task</h2>
    <select id="task-select">
      <option>Loading...</option>
    </select>
    <a class="btn btn-primary run_task" href="#">Run</a>
  </section>
  <section>
    <h2>Log</h2>
    <textarea rows="10" id="log"></textarea>
  </section>
  <a class="btn btn-large" href="@net.mtgto.controllers.routes.Application.index">Back</a>
}
