@(project: net.mtgto.carpenter.domain.Project, jobs: Seq[net.mtgto.carpenter.domain.Job])(implicit lang: Lang, flash: Flash)

@headers = {}
@footers = {
<script>
  $.get('@net.mtgto.carpenter.controllers.routes.ProjectController.tasks(project.identity.value.toString)', function(data) {
    var status = data['status']
    console.log("tasks.status: " + status)
    if (status == 'ok') {
      var select = $("#task-select")
      select.children().remove()
      var tasks = data['tasks']
      for (var i=0; i<tasks.length; i++) {
        select.append($("<option>").html(tasks[i]['name']))
      }
    }  
  });
  $(function(){
    var runLink = $('a.run_task');
    runLink.click(
      function(){
        runLink.addClass("disabled");
        var taskName = $('#task-select option:selected').val();
        window.location = '/projects/@project.identity.value.toString/tasks/' + taskName;
      }
    );
  });
</script>
}
@main(Messages("views.projects.header", project.name), headers, footers) {
  <section>
    <h2>@Messages("views.projects.header", project.name)</h2>
  </section>
  <section>
    <h2>@Messages("views.projects.index.task")</h2>
    <select id="task-select">
      <option>@Messages("views.projects.index.loading")</option>
    </select>
    <a class="btn btn-primary run_task" href="#">@Messages("views.projects.run")</a>
  </section>
  <section>
    <h2>@Messages("views.projects.index.header.project_job")</h2>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>@Messages("views.header.result")</th>
          <th>@Messages("views.header.user")</th>
          <th>@Messages("views.header.duration")</th>
          <th>@Messages("views.header.date")</th>
        </tr>
      </thead>
      <tbody>
      @for(job <- jobs) {
        <tr>
          <td>
            @if(job.exitCode == 0){
              <span class="label label-success">@Messages("views.projects.job.success")</span>
            }else{
              <span class="label label-important">@Messages("views.projects.job.failure")</span>
            }
          </td>
          <td>@job.user.name</td>
          <td>@job.executeDuration</td>
          <td>@job.executeTimePoint</td>
        </tr>
      }
      </tbody>
    </table>
  </section>
  <a class="btn btn-large" href="@net.mtgto.carpenter.controllers.routes.Application.index">@Messages("views.back")</a>
}
