@(projects: Seq[net.mtgto.carpenter.domain.Project], users: Seq[net.mtgto.carpenter.domain.User])(implicit lang: Lang, flash: Flash)

@headers = {}
@footers = {
<script src="@routes.Assets.at("javascripts/index.min.js")" type="text/javascript"></script>
}
@main("Welcome to Carpenter", headers, footers) {
  <div class='modal hide' id='modal_change_password'>
    @helper.form(action = net.mtgto.carpenter.controllers.routes.UserController.changePassword, 'id -> "form_change_password") {
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 id='modal_change_password_title'>@Messages("views.index.change_password")</h3>
      </div>
      <div class="modal-body">
        <input type="password" placeholder="@Messages("views.index.old_password")" id="change_password_old_password" name="oldPassword"></input>
        <input type="password" placeholder="@Messages("views.index.new_password")" id="change_password_new_password" name="newPassword"></input>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" id="change_password_cancel">@Messages("views.cancel")</a>
        <a href="#" class="btn btn-primary" id="change_password_submit">@Messages("views.index.change_password_button")</a>
      </div>
    }
  </div>
    <section id="projects" class="container">
      <h2>@Messages("views.index.header.projects")</h2>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>@Messages("views.index.name")</th>
            <th>@Messages("views.index.hostname")</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          @for(project <- projects) {
            <tr>
              <td><a href="@net.mtgto.carpenter.controllers.routes.ProjectController.showProjectView(project.identity.value.uuid.toString)">@project.name</a></td>
              <td>@project.hostname</td>
              <td><a href="@net.mtgto.carpenter.controllers.routes.ProjectController.edit(project.identity.value.uuid.toString)">@Messages("views.edit")</a></td>
            </tr>
          }
        </tbody>
      </table>
      <a class="btn" href="@net.mtgto.carpenter.controllers.routes.ProjectController.create">@Messages("views.index.create_project")</a>
    </section>
    <section id="users" class="container">
    <h2>@Messages("views.index.header.users")</h2>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>@Messages("views.index.name")</th>
          </tr>
        </thead>
        <tbody>
          @for(user <- users) {
            <tr>
              <td><a href="@net.mtgto.carpenter.controllers.routes.UserController.jobs(user.identity.value.uuid.toString)">@user.name</a></td>
            </tr>
          }
        </tbody>
      </table>
      <a class="btn" href="@net.mtgto.carpenter.controllers.routes.UserController.logout">@Messages("views.index.logout")</a>
      <a class="btn create_user" href="@net.mtgto.carpenter.controllers.routes.UserController.showCreateView">@Messages("views.index.create_user")</a>
      <a class="btn change_password" href="#">@Messages("views.index.change_password")</a>
  </section>
}
